[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
mammoth = "*"
markdown = "*"
chromadb = "*"
tiktoken = "*"
lark = "*"
gpt4all = "*"
panel = "*"
param = "*"
jupyterlab = "*"
notebook = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
